<h4>Configuration for Raspberry Pi</h4>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-navbartemp-display"></label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayRaspiTemp"> Display internal temperature
            </label>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayAirTemp"> Display air temperature in box
            </label>
            <label class="checkbox">
                max. Temperature without running fan in box: <input type="text" data-bind="value: settings.maxAirTemp">&deg;C
            </label>
            <label class="checkbox">
                BCM-Pin-ID for Relay <input type="text" data-bind="value: settings.relayPinForAirTemp">
            </label>
        </div>
    </div>
</form>
