<h4>Configuration for Raspberry Pi</h4>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-navbartemp-display"></label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayRaspiTemp"> Display internal temperature
            </label>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayAirTemp"> Display air temperature in box
            </label>
            <label class="textfield">BCM-Pin-ID for Relay</label><input type="number" data-bind="value: settings.relayPinForAirTemp">
            <label class="textfield">max. Temperature without fan</label><input type="number" class="input-block-level" data-bind="value: settings.maxAirTemp">
        </div>
    </div>
</form>
